
```{=html}
<style>
    li {
      margin-bottom: 20px;
    }
</style>

<ul class="list" style="list-style-type: none;">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <font size="4"><strong><%= item['name'] %> </strong> </font> <br/>
    <%= item['authors'] %> <br/>
    <a href="<%- item['code'] %>">Code</a>
    <a href="<%- item['manuscript'] %>">Manuscript</a>
    <%= item['description'] %>
    <span class="listing-date"><%= item['date'] %></span>
  </li>
<% } %>
</ul>

```